# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
name: helm
version: "4.0.2"
check: ${binary} version --short 2>/dev/null | cut -d+ -f1 | tr -d v
platforms:
- linux/amd64
- linux/arm64
tags:
- type/cli
- kubernetes
- k8s
- templating
- package
- management
- lang/go
- helm
- cncf/graduated
homepage: https://helm.sh
repository: https://github.com/helm/helm
description: The Kubernetes Package Manager
renovate:
  datasource: github-releases
  package: helm/helm
  extractVersion: ^v(?<version>.+)$
  priority: high
license:
  name: Apache License 2.0
  link: https://github.com/helm/helm/blob/main/LICENSE
