/.env
/.env.mk
/helper
/metadata*.json
/cosign.key
/@metadata/build.log
/ca.pem

/tools/*/manifest*.json
/tools/*/Dockerfile
/tools/*/build.log
/tools/*/build-*.log
/tools/*/build-metadata.json
/tools/*/image-*.json
/tools/*/index.json
/tools/*/cosign*.pub
/tools/*/cosign*.sig
/tools/*/cosign*.sig-*
/tools/*/sbom.json
/tools/*/bov.json
/tools/*/sarif.json
/tools/*/report.csv
/tools/*/image.tar