.docker_login:
  before_script: |
    echo "${CI_REGISTRY_PASSWORD}" \
    | docker login "${CI_REGISTRY}" \
        --username="${CI_REGISTRY_USER}" \
        --password-stdin

.docker_logout:
  after_script: |
    docker logout "${CI_REGISTRY}"

.dind:
  variables:
    DOCKER_CERT_DIR: ""
  services:
  - name: docker:29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd

.uniget:
  before_script: |
    apk add --update-cache \
        curl
  script: |
    curl -sLf https://gitlab.com/uniget-org/cli/-/releases/permalink/latest/downloads/uniget_Linux_$(uname -m).tar.gz \
    | tar -xzC /usr/local/bin uniget

.dev_download:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  - if: $CI_PIPELINE_SOURCE == "web"
  image: registry.gitlab.com/uniget-org/cli
  before_script: |
    uniget install \
        glab \
        jq
  script: |
    glab auth login --hostname="${CI_SERVER_HOST}" --token="${CLI_PACKAGE_TOKEN}"
    PACKAGE_NAME=dev
    PACKAGE_VERSION="$(
        glab api "/projects/${CI_PROJECT_ID}/packages?package_name=${PACKAGE_NAME}&order_by=created_at&sort=desc" \
        | jq --raw-output '.[0].version'
    )"
    FILE_NAME=dev
    glab api "/projects/${CI_PROJECT_ID}/packages/generic/${PACKAGE_NAME}/${PACKAGE_VERSION}/${FILE_NAME}" >dev
    chmod +x dev
  artifacts:
    paths:
    - dev

.collect:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  - if: $CI_PIPELINE_SOURCE == "web"
  needs:
  - dev_download
  image: alpine:3.23.3@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
  script: |
    ./dev metadata changes

#metadata:
#  rules:
#  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#  needs:
#  - collect
#  extends:
#  - .docker_login
#  - .dind
#  - .docker_logout
#  image: docker:29.2.1@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
#  script:
#  - apk add --update-cache \
#        curl \
#        make \
#        bash
#  - !reference [.uniget, script]
#  - make metadata.json--push REGISTRY=${CI_REGISTRY}
