.docker_login:
  before_script: |
    echo "${CI_REGISTRY_PASSWORD}" \
    | docker login "${CI_REGISTRY}" \
        --username="${CI_REGISTRY_USER}" \
        --password-stdin

.docker_logout:
  after_script: |
    docker logout "${CI_REGISTRY}"

.dind:
  variables:
    DOCKER_CERT_DIR: ""
  services:
  - name: docker:28.5.2-dind@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac

.uniget:
  before_script: |
    apk add --update-cache \
        curl
  script: |
    curl -sLf https://github.com/uniget-org/cli/releases/latest/download/uniget_Linux_$(uname -m).tar.gz \
    | tar -xzC /usr/local/bin uniget

collect:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:3.21.2
  before_script:
  - |
    apk add --update-cache \
        curl \
        git
  - !reference [.uniget, script]
  - uniget install jq regclient
  script:
  - |
    type regctl
    type jq
    type git
  - |
    METADATA_SHA="$(
        regctl manifest get registry.gitlab.com/uniget-org/tools/metadata:main \
            --platform=linux/amd64 \
            --format=raw-body \
        | jq --raw-output '.layers[0].digest' \
        | xargs -I{} \
            regctl blob get registry.gitlab.com/uniget-org/tools/metadata:main {} \
        | tar --extract --gzip --to-stdout \
        | jq --raw-output '.revision'
    )"
    echo "### Fetching changed tools for ${METADATA_SHA}..${CI_COMMIT_SHA}"
  - |
    CHANGED_TOOLS="$(
        git log --pretty=format: --name-only --diff-filter=d ${METADATA_SHA}..${CI_COMMIT_SHA} \
        | sort \
        | grep "^tools/" \
        | cut -d/ -f2 \
        | uniq \
        | while read -r TOOL; do test -d "tools/${TOOL}" && echo "${TOOL}"; done \
        | xargs
    )"
    echo "### Tools to process: ${CHANGED_TOOLS}."
  - |
    CHANGED_TOOLS_JSON="$(
        echo -n "${CHANGED_TOOLS}" \
        | tr ' ' '\n' \
        | jq --raw-input '.' \
        | jq --slurp --compact-output '.'
    )"
    echo "    JSON: ${CHANGED_TOOLS_JSON}"

metadata:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
  - collect
  extends:
  - .docker_login
  - .dind
  - .docker_logout
  image: docker:28.5.2@sha256:2a232a42256f70d78e3cc5d2b5d6b3276710a0de0596c145f627ecfae90282ac
  script:
  - apk add --update-cache \
        curl \
        make \
        bash
  - !reference [.uniget, script]
  - make metadata.json--push REGISTRY=${CI_REGISTRY}
