# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
name: traefik
license:
  name: MIT License
version: "3.6.5"
check: ${binary} version | grep ^Version | tr -s ' ' | cut -d' ' -f2
platforms:
- linux/amd64
- linux/arm64
tags:
- category/operations
- lang/go
- type/cli
- component/network
- kubernetes
- k8s
- management
homepage: https://traefik.io
repository: https://github.com/traefik/traefik
description: Cloud Native Application Proxy
renovate:
  datasource: github-releases
  package: traefik/traefik
  extractVersion: ^v(?<version>.+)$
  priority: high
