# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
name: traefik-systemd
license:
  name: MIT License
  link: https://gitlab.com/uniget-org/tools/blob/main/LICENSE
version: "0.1.0"
binary: "false"
check: "" # No binary to check
runtime_dependencies:
- traefik
- docker-compose-systemd
platforms:
- linux/amd64
- linux/arm64
tags:
- category/operations
- lang/go
- type/cli
- component/network
- kubernetes
- k8s
- management
homepage: https://uniget.dev
repository: https://gitlab.com/uniget-org/tools
description: compose file for traefik with systemd
messages:
  usage: |
    - A compose.yaml file is provided in /etc/docker-compose/traefik/
    - Start the service using:
          systemctl start docker-compose@traefik
    - Enable the service using:
          systemctl enable docker-compose@traefik
