# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
$schema: https://tools.uniget.dev/schema.yaml
name: prometheus
license:
  name: Apache License 2.0
  link: https://github.com/prometheus/prometheus/blob/main/LICENSE
version: "3.8.0"
check: ${binary} --version | grep ^prometheus | cut -d' ' -f3
runtime_dependencies:
- promtool
platforms:
- linux/amd64
- linux/arm64
tags:
- org/prometheus
- category/operations
- lang/go
- type/daemon
- standard/prometheus
- cncf/graduated
homepage: https://prometheus.io/
repository: https://github.com/prometheus/prometheus
description: Monitoring system and time series database
renovate:
  datasource: github-releases
  package: prometheus/prometheus
  extractVersion: ^v(?<version>.+)$
  priority: low
