# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
$schema: https://tools.uniget.dev/schema.yaml
name: alertmanager
license:
  name: Apache License 2.0
  link: https://github.com/prometheus/alertmanager/blob/main/LICENSE
version: "0.30.1"
check: ${binary} --version | grep ^alertmanager | cut -d' ' -f3
platforms:
- linux/amd64
- linux/arm64
tags:
- org/prometheus
- category/operations
- lang/go
- type/daemon
homepage: https://prometheus.io/
repository: https://github.com/prometheus/alertmanager
description: Prometheus Alertmanager
renovate:
  datasource: github-releases
  package: prometheus/alertmanager
  extractVersion: ^v(?<version>.+)$
  priority: low