# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
$schema: https://tools.uniget.dev/schema.yaml
name: grafana
license:
  name: AGPLv3
  link: https://github.com/grafana/grafana/blob/main/LICENSE
version: "12.3.1"
check: ${binary} --version | cut -d' ' -
platforms:
- linux/amd64
- linux/arm64
tags:
- org/grafana
- category/operations
- lang/go
- type/daemon
- standard/prometheus
homepage: https://grafana.com/
repository: https://github.com/grafana/grafana
description: Open and composable observability and data visualization platform
renovate:
  datasource: github-releases
  package: grafana/grafana
  extractVersion: ^v(?<version>.+)$
  priority: low
