# yaml-language-server: $schema=https://tools.uniget.dev/schema.yaml
$schema: https://tools.uniget.dev/schema.yaml
name: docker
version: "29.0.4"
binary: dockerd
check: ${binary} --version | cut -d, -f1 | cut -d' ' -f3
runtime_dependencies:
- fuse-overlayfs
- docker-manpages
platforms:
- linux/amd64
- linux/arm64
tags:
- org/docker
- standard/docker
- standard/oci
- container/runtime
- container/build
- category/default
- type/cli
- type/daemon
- lang/go
homepage: https://mobyproject.org/
repository: https://www.docker.com/
description: The Docker CLI
messages:
  internals: |
    - Binaries (except docker) are installed into {{ .Target }}/libexec/docker/bin
    - SystemD units and init scripts are modified to perfer binaries from this directory
    - The cgroup drive is to systemd if SystemD is used
    - The BuildKit builder is enabled by default
    - The containerd image store is enabled by default
    - runc is configured as the default runtime
    - If installed in a container, the storage driver is set to fuse-overlayfs
    - Existing settings are not changed
    - For CLI plugins: mkdir -p ~/.docker && ln -sfr ~/.local/libexec/docker/cli-plugins ~/.docker/
  update: |
    - You must install iptables or nftables from your distribution:
    
        Ubuntu: apt-get install nftables
          
    - You need to create a group to delegate the Docker socket to users:

          groupadd --system --force docker

    - Because of socket activation you need to configure the units:
  
            systemctl daemon-reload
            systemctl disable docker.service
            systemctl enable docker.socket
            systemctl start docker.socket

    - If you require a custom address pool to avoid IP address conflict, merge the following
      into /etc/docker/daemon.json after substituting your IP range and subnet size:

          {
              "default-address-pool": [
                  {
                      "base": "172.16.0.0/12"
                      "size": 24
                  }
              ]
          }

    - If you require a registry mirror, merge the following into /etc/docker/daemon.json after
      substituting your mirror URL:

          {
              "registry-mirrors": [
                  "https://mirror.example.com"
              ]
          }

    - You need to restart the Docker daemon to apply chages to daemon.json
renovate:
  datasource: github-releases
  package: moby/moby
  extractVersion: ^docker-v(?<version>.+)$
  priority: high
license:
  name: Apache License 2.0
  link: https://github.com/moby/moby/blob/master/LICENSE
