name: Visibility

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Tool name'
        required: true
  workflow_call:
    inputs:
      name:
        description: 'Tool name'
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.name }}
  cancel-in-progress: true

jobs:

  check:
    name: Check
    permissions:
      packages: read
    runs-on: ubuntu-24.04
    steps:

    - name: Install uniget
      uses: uniget-org/uniget-action@v1
      with:
        prefix: helper
        tools: jq

    - name: Check
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TOOL: ${{ inputs.name }}
      run: |
        set -o errexit -o pipefail

        if ! curl --silent --show-error --location --fail \
                --head \
                --output /dev/null \
                --header "Authorization: Bearer ${GITHUB_TOKEN}" \
                --url https://api.github.com/orgs/${GITHUB_REPOSITORY_OWNER}/packages/container/tools%2f${TOOL}; then
            echo "ERROR: Package not found for ${TOOL}"
            exit 1
        fi

        # Check package with name $TOOL for private visibility
        VISIBILITY="$(
            curl --silent --show-error --location --fail --header "Authorization: Bearer ${GITHUB_TOKEN}" \
                --url https://api.github.com/orgs/${GITHUB_REPOSITORY_OWNER}/packages/container/tools%2f${TOOL} \
            | jq --raw-output '.visibility'
        )"
        echo "Got visibility ${VISIBILITY} for ${TOOL}"
        if test "${VISIBILITY}" == "private"; then
            echo "Package visibility is private for ${TOOL}"
            exit 1
        fi
