name: Send Telemetry after Other Workflow

on:
  workflow_run:
    # Specify the workflows you want to collect telemetry.
    workflows:
    - Approve
    - Automerge
    - Check
    - Renovate
    - Tag latest
    # This action uses completed workflow for making traces and metrics.
    types:
    - completed

permissions:
  # Required for private repositories
  actions: read

jobs:
  send-telemetry:
    name: Send CI Telemetry
    runs-on: ubuntu-latest
    steps:
    - name: Run
      id: run
      uses: paper2/github-actions-opentelemetry@main
      env:
        OTEL_SERVICE_NAME: grafanacloud-nicholasdille-traces
        OTEL_EXPORTER_OTLP_ENDPOINT: tempo-us-central1.grafana.net:443
        # Additional OTLP headers. Useful for OTLP authentication.
        # e.g.
        # New Relic: api-key=YOUR_NEWRELIC_API_KEY
        # Google Cloud Run: Authorization=Bearer <value of $(gcloud auth print-identity-token)>
        # Basic Authentication: Authorization=Basic <base64-encoded value of userid:password>
        OTEL_EXPORTER_OTLP_HEADERS:
          Authorization=Basic ${ secrets.TRACES_AUTH_BASIC }
        OTEL_RESOURCE_ATTRIBUTES: 'app=uniget,component=tools'
      with:
        # Required for collecting workflow data
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}