name: Trigger pages

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      BOT_GITHUB_TOKEN:
        required: true

jobs:

  pages:
    name: tools.uniget.dev
    runs-on: ubuntu-24.04
    steps:

    - name: Trigger
      env:
        GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
      run: |
        curl --silent --verbose --show-error --fail \
            --request POST \
            --url https://api.github.com/repos/uniget-org/tools.uniget.dev/dispatches \
            --header "Authorization: token ${GITHUB_TOKEN}" \
            --header "Accept: application/vnd.github.v3+json" \
            --data '{"event_type": "pages"}'